build/*
.buildlog
web/out/*
packages
.project
*.iml
*.ipr
*.iws
.idea/
*.dart.js
*.js_
*.js.deps
*.js.map
*.precompiled.js
packages
pubspec.lock
.settings

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~
[#]*[#]
.\#*